.input {
  font-size: 16px;
  padding: 4px;
  margin-bottom: 6px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  outline: none;
}
.phrase {
  padding: 6px;
}
.phrase:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.phrase:hover > .delete-btn {
  color: white;
}
.delete-btn {
  padding-left: 6px;
  color: rgba(0,0,0,0.1);
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.4);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.4);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.4);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.4);
}
