.container {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.phrases, .practice {
  padding: 25px;
}

.phrases {
  color: rgba(255,255,255,0.9);
  background: linear-gradient(to bottom right, #ff00cc, #333399);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.practice {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
